.btn-authentification {
    outline: none;
    background-color: grey;
}

.btn-authentification a {
    text-decoration: none;
    color: whitesmoke;
}


.btn-authentification a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.authentification {
    max-width: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.signup {
    max-width: 500px;
}

.btn-connexion {
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(114, 114, 114);
    color: #fff;
    padding: 7px;
}

.nope {
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(114, 114, 114);
    color: #fff;
    padding: 7px;
    animation: nope .3s forwards;
}

@keyframes nope {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(15px);
    }
    40% {
        transform: translateX(-15px);
    }
    60% {
        transform: translateX(15px);
    }
    80% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}

