.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

.navigation:not(:nth-child(1)) {
    margin-right: auto;
}


.navigation-content li{
    list-style: none;
    display: inline-block;
}

.navigation-content li:not(:first-child) {
    margin-left: 20px;
}

.authentification {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authentification button:not(:first-child) {
    margin-left: 10px;
}

.navigation a {
    text-decoration: none;
    color: #333;
}